
.banner{
    background-image:url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg");
  height: 10%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
 position: relative;
}